.recovery {
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.modal-wrapper {
    display: none;
} 
.modal {
    background-color: #ffffff;
    width: 346px;
    border-radius: 8px;
    padding: 22px 28px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}




