.input-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.input-group label {
    color: var(--color-grey-1);
}
.input-group input {
    height: 44px;
    padding-left: 16px;
    border-radius: 8px;
    background-color: var(--color-grey-4);
    font-size: 16px;
}
